randombench
synbench
dotprod
*.o
*.txt
lib/*.a
*.weights
*.a
*.so
darknet
html
latex
heat-tao
heat-tbb
benchmarks/bfs/data/bfs/inputGen/*.txt
benchmarks/dataparallel/dataparallel
benchmarks/dataparallel/dataparallel.cxx.experiments
benchmarks/dataparallel/.Makefile.swp
benchmarks/bfs/data/bfs/*.txt
ptt_layout*
benchmarks/kmeans/data/kmeans/inputGen/*.txt
benchmarks/kmeans/data/kmeans/*.txt
benchmarks/kmeans/kmeans_omp
benchmarks/kmeans/kmeans_xitao
benchmarks/kmeans/kmeans_xitao_1
benchmarks/kmeans/kmeans
benchmarks/kmeans/data/kmeans/kdd_cup
